<a [routerLink]="['/login']" >Cerrar sesión</a>

<main class="flex-column-center">
    <table>
        <thead>
        <td>Nº</td>
        <td>Disponibilidad</td>
        <td>Ingreso</td>
        <td>Acciones</td>
    </thead>
    <tbody>
        @for (cochera of dataCocherasService.cocheras; track $index) {
            <tr>
                <td> {{ cochera.id }} </td>
                <td>
                    @if (!cochera.estacionamiento?.horaEgreso && cochera.estacionamiento?.horaIngreso) {
                        <button (click)="cerrarEstacionamiento(cochera)">
                            {{ cochera.estacionamiento?.patente }}
                        </button>
                    } @else if (cochera.estacionamiento?.horaEgreso) {
                        <button (click)="abrirEstacionamiento(cochera.id)">
                            Desocupado
                        </button>
                    } @else {
                        <button (click)="abrirEstacionamiento(cochera.id)">
                            Disponible
                        </button>
                    }
                </td>
                <td>{{ cochera.descripcion }}</td>
                <td class="acciones-container"> 
                    @if(!cochera.deshabilitada){
                        <button (click)="deshabilitarCochera($index)"><img src="img/icons/prohibido.png" alt="Deshabilitar cochera"></button>
                    } @else {
                        <button (click)="habilitarCochera($index)"><img src="img/icons/ok.png" alt="Habilitar cochera"></button>

                    }
                    @if(esAdmin){   
                        <button (click)="preguntarBorrarCochera(cochera.id)"><img src="img/icons/contenedor-de-basura.png" alt="Eliminar cochera"></button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if(esAdmin){
    <button (click)="agregarCochera()" class="boton-resaltado" id="agregar-cochera">+</button>
}
</main>