h1{
    color: red;
}

table{
    margin: auto;
    thead, tr {
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr;
        justify-items: center;
    }
}

.disponible{
    background-color: green;
}