<main>
    <div id="izquierda">
        <h1>PARKING APP</h1>
    </div>
    <div id="derecha">
        <form>
            <input type="text" id="usuario" placeholder="Usuario">
            <input type="password" id="password" placeholder="Contraseña">
            <button class="boton-resaltado" type="button" (click)="login()">Iniciar sesión</button>
            @if(errorLogin) {
                <p>Error en login</p>
            }
        </form>
        <a [routerLink]="['/registro']">Registrarse</a>
    </div>
</main>