<main>
    <div id="izquierda">
        <h1>PARKING APP</h1>
    </div>
    <div id="derecha">
        <form>
            <input type="text" id="usuario" placeholder="Usuario">
            <input type="password" id="password" placeholder="Contraseña">
            <!-- Lo hice botón por algo que pasará más adelante -->
            <button class="boton-resaltado" [routerLink]="['/estado-cocheras']">Iniciar sesión</button>
        </form>
        <a [routerLink]="['/registro']">Registrarse</a>
    </div>
</main>