@use "./../../../../public/styles/colors.scss";

h1{
    font-size: 100px;
    color: white;
    z-index: 1;
}

main{
    display: grid;
    grid-template-columns: 1fr 600px;
    height: 100svh;
}

#izquierda{
    background-image: url("./../../../../public/img/car-park\ 1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        background-color: colors.$color-primario;
        opacity: 75%;
        height: 100vh;
    }
}

#derecha{
    display: grid;
    grid-template-rows: 1fr 50px;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        margin-top: 10px;
    }
}

input{
    border-bottom: 2px solid colors.$color-primario;
    font-size: 2rem;
}

a{
    text-align: center;
}